:root {
  --color-dark: #08070B;
  --color-dark-grey: #24232C;
  --color-grey: #817D92;
  --color-almost-white: #E6E5EA;
  --color-very-dark-grey: #18171F;
  --color-neon-green: #A4FFAF;
  --color-red: #F64A4A;
  --color-orange: #FB7C58;
  --color-yellow: #F8CD65;

  --font-family: 'JetBrainsMono', sans-serif;
  --heading-large-size: 32px;
  --heading-large-line-height: 43px;
  --heading-medium-size: 24px;
  --heading-medium-line-height: 31px;
  --body-size: 18px;
  --body-line-height: 23px;
  --body-size-mobile: 16px;
  --body-line-height-mobile: 21px;
  --font-weight-bold: bold;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('/assets/fonts/static/JetBrainsMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-dark);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-large {
  font-size: var(--heading-large-size);
  line-height: var(--heading-large-line-height);
  font-weight: var(--font-weight-bold);
}

.heading-medium {
  font-size: var(--heading-medium-size);
  line-height: var(--heading-medium-line-height);
  font-weight: var(--font-weight-bold);
}

.body-text {
  font-size: var(--body-size);
  line-height: var(--body-line-height);
  font-weight: var(--font-weight-bold);
}

#generate-button {
  color: var(--color-dark-grey);
  background-color: var(--color-neon-green);
  border: 2px solid var(--color-neon-green);
  font-family: var(--font-family);
  padding: 20px 0;
  cursor: pointer;
  width: 100%;
  height: 65px;
  transition: all 0.3s ease-in-out;
}

#generate-button:hover {
  background-color: transparent;
  border: 2px solid var(--color-neon-green);
  color: var(--color-neon-green);
}

@media (max-width: 480px) {
  .heading-large {
    font-size: var(--heading-medium-size);
    line-height: var(--heading-medium-line-height);
  }

  .heading-medium {
    font-size: var(--body-size-mobile);
    line-height: var(--body-line-height-mobile);
  }

  .body-text {
    font-size: var(--body-size-mobile);
    line-height: var(--body-line-height-mobile);
  }

  #generate-button {
    padding: 18px 0;
    height: 56px;
  }
}
