---
import Password from '../components/Password.astro';
import Generate from '../components/Generate.astro';
const heading = 'Password Generator';
---

<section class="card-container">
  <h1 class="heading-medium">{heading}</h1>
  <div class="card-wrapper">
    <Password copied="COPIED" />
    <Generate
      characterLengthLabel="Character Length"
      initialCharacterLengthValue={10}
      includeUppercaseLabel="Include Uppercase Letters"
      includeLowercaseLabel="Include Lowercase Letters"
      includeNumbersLabel="Include Numbers"
      includeSymbolsLabel="Include Symbols"
      strengthLabel="STRENGTH"
      generateButtonLabel="GENERATE →"
    />
  </div>
</section>

<style>
  .card-container {
    background-color: var(--color-dark);
    width: 100%;
    max-width: 540px;
    height: 100%;
    max-height: 632px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .card-wrapper {
    width: 100%;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    color: var(--color-grey);
    position: absolute;
    top: -56px;
    text-align: center;
  }

  @media (max-width: 480px) {
    .card-wrapper {
      gap: 16px;
    }

    h1 {
      top: -40px;
    }
  }
</style>
